<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}電影購票系統{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/index.css">


</head>
<body>
   <div>
    <h1>場次開放時間說明</h1>
    <ul>
        <li>1.週五上映之電影，新場次公布於每週三中午12:00~下午18:00，開放未來一週(即當週的星期五至下週星期四為止)之場次。</li>
        <li>2.週三上映之電影，新場次公布於每週一晚上20:00~22:00，開放週三、週四之場次。</li>
        <li>3.週四上映之電影，新場次公布於每週二晚上20:00~22:00，開放週四之場次。</li>
        <li>4.其他因預售活動或特殊假期、特殊開片日之電影，將另行公告場次開放時間。</li>
    </ul>


   </div>

    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>在線選擇您喜愛的電影、場次和座位</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p>&copy; Copyright © 2025 票點影城 SPOTIXSHOW Cinemas. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
